.content_main_block {
    width: 55%;
    display: flex;
    border-top: 5px solid green;
}

.content_main_block_left_block {
    width: 45%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid black;
}

.content_main_block_right_block {
    width: 55%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(33, 142, 99);
}

.blancing {
    display: flex;
}

.right_block_heading {
    display: flex;
}

.inner_content {
    display: flex;
    flex-direction: column;
}