.home_container {
    width: 99%;
}
.header_main{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.header_sub {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_main .header_sub button{
    background-color:  #007acc;
    padding: 5px;
    border: 1px solid  #007acc;
    outline: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.razorpay_lite_block {
    width: 100%;
    height: auto;
}

.razorpay_x_content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color);
}

.razorpay_x_content img {
    width: 30px;
    padding-right: 10px;
}

.razorpay_x_content strong {
    font-size: 15px;
    padding-right: 10px;
}

.razorpay_x_content p {
    font-size: 12px;
}

.razorpay_x_content_btn {
    font-size: 28px;
    background: none;
    outline: none;
    border: none;
    color: var(--color);
    cursor: pointer;
    padding-left: 10px;
}

.add_balance {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}
.balance_1 {
   padding: 10px 20px 10px;
}
.balance_2{
    padding: 10px 10px 10px 20px;
}
.balance_1 span {
    color: #8d9bb0;
    font-weight: bold;
    font-size: 18px;
}

.balance_1 strong {
    color: #fff;
    font-size: 28px;
}

.balance_2 {
    color: rgb(117, 163, 255);
    font-size: 15px;
    letter-spacing: 0.6px;
    border-left: 1px solid #797e86;
    padding: 4px 10px;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.balance_2:hover{
    color: rgb(60, 121, 244); 
}

.message {
    width: 100%;
    border: 1px dotted gray;
    margin-top: 25px;
}

.message p {
    color: #797e86;
    padding-left: 12px;
}
