:root {
  --primaryColor: #101322;
  --color: #8d9bb0;
}

.app{
  background: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 10px;
}